@import "../../../../sass/variables";
@import "../../../../sass/utilities";

@for $i from 1 through 2 {
  .skeleton-paragraph#{$i} {
    @include skeleton-style(100% - $i * 5%, 10px);
  }
}

.comment__body {
  width: 100%;
}

.skeleton-img {
  min-width: 30px;
  height: 30px;

  border-radius: $base-radius * 2;
}

.skeleton-user__name {
  @include skeleton-style(40%, 15px);
}
