/* theme colors */

$seasalt: #f8f9faff;
$antiflash-white: #e9ecefff;
$platinum: #dee2e6ff;
$french-gray: #ced4daff;
$french-gray-2: #adb5bdff;
$slate-gray: #6c757dff;
$outer-space: #495057ff;
$onyx: #343a40ff;
$eerie-black: #212529ff;

/* breakpoints */

$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

/* grid */

$grid-columns: 12;
$grid-gaps: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px,
  "4": 40px,
);

$layout-values: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
);
