@import "../../../sass/variables";
@import "../../../sass/colors";
@import "../../../sass/breakpoints";

.nav-bar {
  min-height: 50px;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
  padding: 10px 20px 10px 10px;
  margin: 20px 0;

  background-color: map-get($colors, "secondary");
  color: map-get($colors, "main");
  border-radius: $base-radius * 2;

  &__user {
    @include lg {
      display: none;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;

    cursor: pointer;

    @include lg {
      display: none;
    }
  }

  &__open[aria-expanded="true"] {
    + .nav-bar__menu {
      display: block;
    }
  }

  &__close {
    display: block;
    margin-inline-start: auto;

    margin-bottom: 0.5rem;
  }

  &__items {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-inline: 30px;

    @media (width < 980px) {
      flex-direction: column;
      align-items: flex-end;
      margin: 20px 20px 0;

      li {
        margin-right: -1.5rem;
      }
    }

    li {
      list-style-type: none;
    }
  }

  &__menu {
    flex-grow: 1;
    @media (width < 980px) {
      position: absolute;
      right: 0;
      top: 0;

      background-color: map-get($colors, "secondary");
      padding: 1rem;
      border-radius: $base-radius;

      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      display: none;
    }
  }
}

.nav-skeleton {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(240, 240, 240, 0.154) 40%,
    transparent 60%
  );

  background-size: 200px;
  background-repeat: no-repeat;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -50%;
  }

  100% {
    background-position: 200%;
  }
}
