<header class="row center">
  <nav class="col-10 nav-bar" [ngClass]="{'nav-skeleton' : isUsersLoading}">
    <img src="../../../assets/svgs/vodafone_icon.svg" width="30px" title="vodafone-logo" />

    <p class="nav-bar__user" *ngIf="getAllUsers().size">
      {{getCurrentUser().user.id ? getCurrentUser().user.username+"'s Posts" : "No Posts To Show"}}
    </p>

    <span id="nav-label" hidden>Navigation</span>

    <button class="nav-bar__open" [attr.aria-expanded]="isExpanded" aria-labelledby="nav-label" (click)="onOpenMenu()"
      *ngIf="getAllUsers().size">
      <img src="../../../assets/svgs/burger-icon.svg" width="30px" title="open-icon" />
    </button>

    <div class="nav-bar__menu" role="dialog" aria-labelledby="nav-label">
      <button class="nav-bar__close" aria-label="close" (click)="onCloseMenu()">
        <img src="../../../assets/svgs/close-icon.svg" width="30px" title="close-icon" />
      </button>

      <ul class="nav-bar__items">
        <li *ngFor="let data of getAllUsers() | keyvalue">
          <app-nav-item [isActive]="data.value.isActive" [username]="data.value.user.username"
            (click)="onSelectUser(data.key)" />
        </li>
      </ul>
    </div>

  </nav>
</header>