@import "../../../sass/variables";

.wrapper {
  height: 100vh;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: map-get($fontSizes, "xxl");
    font-weight: map-get($fontWeights, "medium");
    text-align: center;

    background: linear-gradient(
      90deg,
      #adb5bd 0%,
      #212529 33.33%,
      #212529 66.67%,
      #adb5bd 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
