<article class="row center">
  <div class="post col-10 col-6-md">
    <section class="post__content">
      <div class="post__content__body">

        <div class="skeleton-user">
          <div class="skeleton skeleton-user__img"></div>
          <div class="skeleton skeleton-user__name"></div>
        </div>

        <div>
          <div class="skeleton skeleton-paragraph1"></div>
          <div class="skeleton skeleton-paragraph2"></div>
          <div class="skeleton skeleton-paragraph3"></div>
        </div>

        <button class="post__button post__button--mobile skeleton">Comments</button>
      </div>
      <div class="skeleton skeleton-img post__img"></div>
      <button class="post__button post__button--desktop skeleton">Comments</button>
    </section>
  </div>
</article>