<div class="container-fluid">
  <div class="bg-gradient row between">
    <div class="bg-gradient__left col-3"></div>
    <div class="bg-gradient__right col-3"></div>
  </div>

  <app-navbar (onSelect)="userSelected($event)" (onCompeleteFetching)="fetchedData($event)" />

  <app-message [message]="message" *ngIf="!getCurrentUser().user.posts.length && !isPostsLoading" />

  <div class="posts-wrapper" *ngIf="isPostsLoading">
    <app-skeleton-post />
    <app-skeleton-post />
    <app-skeleton-post />
  </div>

  <div class="posts-wrapper">
    <app-post *ngFor="let post of getCurrentUser().user.posts" [post]="post" />
  </div>
</div>