<article class="row center">
  <div class="post col-10 col-6-md" [@scaleInOut]="showComments ? 'enter' : 'leave'">
    <section class="post__content">
      <div class="post__content__body">
        <app-user-data />

        <p>
          {{post.body | truncate}}
        </p>

        <button class="post__button post__button--mobile" (click)="toggleComments()">Comments</button>
      </div>

      <img [src]="post.image" alt="post-img" class="post__img">
      <button class="post__button post__button--desktop" (click)="toggleComments()">Comments</button>
    </section>

    <section *ngIf="showComments" class="post__comments" @fadeInOut>
      <div class="line"></div>

      <app-comment *ngFor="let comment of post.comments" [comment]="comment" />
    </section>
  </div>
</article>