<article class="row center">
  <div class="post col-10 col-6-md">
    <section class="post__content">
      <div class="post__content__body">
        <app-user-data />

        <p>
          {{post.body | truncate: 140}}
        </p>

        <button class="post__button post__button--mobile" (click)="toggleComments()">Comments</button>
      </div>

      <div class="skeleton skeleton-img post__img" *ngIf="!imageLoaded"></div>

      <img [src]="post.image" alt="post-img" class="post__img" (load)="onImageLoad()"
        [ngClass]="{'hideImage': !imageLoaded}">
      <button class="post__button post__button--desktop" (click)="toggleComments()">Comments</button>
    </section>

    <section *ngIf="showComments" class="post__comments" @fadeInOut>
      <div class="line"></div>

      <app-comment *ngFor="let comment of post.comments" [comment]="comment" />

      <div *ngIf="isCommentsLoading">
        <app-skeleton-comment />
        <app-skeleton-comment />
        <app-skeleton-comment />
        <app-skeleton-comment />
        <app-skeleton-comment />
      </div>
    </section>
  </div>
</article>