@import "../../../../sass/variables";
@import "../../../../sass/colors";

.nav-item {
  font-size: 1rem;
  font-weight: 600;

  padding: 5px 10px;
  border-radius: 50px;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: map-get($colors, "main");
    color: map-get($colors, "secondary");
  }
}

.active {
  background-color: map-get($colors, "main");
  color: map-get($colors, "secondary");
}
